* {
  background: #f3f5fc;
  font-family: "Inter";
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  overflow-y: hidden;
}

.logo {
  padding-top: 10px;
  margin-left: 10px;
  width: 10%;
}

main {
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}
.ingreso {
  border: none;
  color: #0a3871;
  margin-top: 30px;
  text-transform: lowercase;
  height: 300px;
  padding: 2px;
  resize: none;
  overflow:auto;
}
::placeholder {
  color: #0a3871;
}
.ingreso:focus {
  outline: none;
}

.mensaje {
  background: none;
  border: none;
  color: #0a3871;
  margin-left: 90px;
  margin-top: 20px;
  padding-left: 20px;
  position: absolute;
  resize: none;
  height: 300px;
  overflow:auto;
}
.mensaje:focus {
  outline: none;
}

.botones {
  display: flex;
  margin-top: 18px;
  gap: 10px;
}

.btn-encriptar {
  background-color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #ffffff;
  cursor: pointer;
  height: 67px;
  width: 328px;
}
.btn-encriptar:hover {
  background-color: #153e70;
}
.btn-desencriptar {
  background-color: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 67px;
  width: 328px;
}
.btn-desencriptar:hover {
  background-color: #c4c4c4;
}
.btn-copiar {
  background-color: #c4c4c4;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 67px;
  width: 314px;
  margin-left: 108px;
  position: absolute;
  margin-top: 410px;
}
.btn-copiar:hover {
  background-color: #adadad;
  transform: scale(1.1);
}

.info {
  color: #495057;
  font-size: 18px;
}

.img {
  margin-top: 10%;
  margin-left: 40%;
  display: flex;
  align-content: center;
  width: 50%;
}

span h4 {
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  text-align: center;
  margin-left: 35%;
  font-weight: 700;
  line-height: 120%;
  font-size: 24px;
  color: #343a40;
}

span p {
  display: block;
  margin-top: 10px;
  margin-left: 40%;
  text-align: center;
  line-height: 1;
  color: #495057;
  font-size: 16px;
  font-weight: 400;
}

footer {
  display: inline;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
  height: 160px;
  
}
footer p {
  color: #495057;
  font-size: 18px;
  text-align: center;
}

/*Estilos movil*/
@media (max-width: 768px) {
  .logo {
    padding-top: 15px;
    margin-left: 40px;
    width: 40%;
  }
  main {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
  .ingreso {
    margin-left: 0px;
    width: 100%;
    height: 100px;
    overflow: scroll;
  }
  .mensaje {
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
    height: 100px;
    overflow: scroll;
   }
  .botones {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 20px;
  }
  .btn-encriptar {
    margin-left: 0px;
    width: 100%;
  }
  .btn-desencriptar {
    margin-left: 0px;
    width: 100%;
  }
  .btn-copiar {
    
    margin-left: 0px;
    width: 100%;
    margin-top: 120px;
  }
  .img {
    margin-top: 10%;
    margin-left: 20%;
    display: flex;
    align-content: center;
    width: 50%;
  }
  span h4 {
    margin-left: 2px;
  }
  span p {
    margin-left: 2px;
  }
  footer{
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 210px;
  }
}
